<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wak Do</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
        <link rel="stylesheet" href="styles/global.css">
    </head>
    <body>
        <div id="app">
            <section id="Interface">
                <main class="produits">
                    <Section class="header">
                        <figure>
                            <img src="img/logo.png" width="40px" alt="wak do">
                        </figure>
                    </Section>
                    <section class="content">
                        <h1><b>Hey,</b><br>Comment ça va ?</h1>
                        <div class="list-food">
                            <article class="food"
                            v-for="(Produit,index) in Produits.slice(0, 6)":key="Produit.id"
                            :class="{promo : Produit.active}"
                            @click="Produit.active = !Produit.active"
                            >
                                <figure>
                                    <img :src="Produit.image" alt="chicken">
                                </figure>
                                <span>{{Produit.nom}}</span>
                                <p>{{Produit.prix}}€</p>
                            </article>
                        </div>
                        <h2>Populaires</h2>
                        <div class="list-food populaire">
                            <article 
                            class="food pop"
                            v-for="Produit in Populaires" :key="Produit.id">
                                <figure>
                                    <img :src="Produit.image" :alt="Produit.nom">
                                </figure>
                                <span>{{Produit.nom}}</span>
                                <p>{{Produit.prix}}€</p>
                            </article>
                        </div>                        
                    </section>
                </main>
                <aside class="command">
                    <section class="header-command">
                        <div class="btn"></div>
                    </section>
                    <section class="content-command">
                        <h3><b>Ma</b><br>Commande</h3>
                        <button class="exit">Sortir</button>
                        <hr>
                        <section class="article-command">
                            <article class="food">
                                <figure>
                                    <img src="img/pizza.png" alt="Pizza">
                                </figure>
                                <span>Pizza</span>
                                <p>6.50€</p>
                                <div class="quantity">
                                    <button>-</button>
                                    <p>1</p>
                                    <button>+</button>
                                </div>
                            </article>
                            <article class="food">
                                <figure>
                                    <img src="img/burger.png" alt="burger">
                                </figure>
                                <span>burger</span>
                                <p>4.50€</p>
                                <div class="quantity">
                                    <button>-</button>
                                    <p>2</p>
                                    <button>+</button>
                                </div>
                            </article>
                            <article class="food">
                                <figure>
                                    <img src="img/roast-chicken.png" alt="roast chicken">
                                </figure>
                                <span>roast chicken</span>
                                <p>5.50€</p>
                                <div class="quantity">
                                    <button>-</button>
                                    <p>11</p>
                                    <button>+</button>
                                </div>
                            </article>
                        </section>
                        <section class="total">
                            <hr>
                            <h4>Total de la commande</h4>
                            <p>21€</p>
                            <button>Valider</button>
                        </section>
                    </section>
                </aside>
            </section>
        </div>
    </body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</html>