<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wak Do</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
        <link rel="stylesheet" href="styles/global.css">
    </head>
    <body>
        <div id="app">
            <section id="Interface">
                <main class="produits">
                    <Section class="header">
                        <figure>
                            <img src="img/logo.png" width="40px" alt="wak do">
                        </figure>
                    </Section>
                    <section class="content">
                        <h1><b>Hey,</b><br>Comment ça va ?</h1>
                        <div class="list-food">
                            <article class="food"
                            v-for="(Produit,index) in Produits":key="Produit.id"
                            :class="{promo : Produit.active}"
                            @click="Produit.active = !Produit.active"
                            >
                                <figure>
                                    <img :src="Produit.image" alt="chicken">
                                </figure>
                                <span>{{Produit.nom}}</span>
                                <p>{{Produit.prix}}€</p>
                            </article>
                        </div>                      
                    </section>
                </main>
                <aside class="command">
                    <section class="header-command">
                        <div class="btn"></div>
                    </section>
                    <section class="content-command"v-if="total() > 0">
                        <h3><b>Ma</b><br>Commande</h3>
                        <button class="exit">Sortir</button>
                        <hr>
                        <section class="article-command">
                                <article class="food" v-for='Produit in Produits'>
                                    <template v-if='Produit.active'>
                                    <figure>
                                        <img :src="Produit.image" alt="Pizza">
                                    </figure>
                                    <span>{{Produit.nom}}</span>
                                    <p>{{Produit.prix}}€</p>
                                    <div class="quantity">
                                        <button @click.stop="Produit.quantite--" :disabled="Produit.quantite <=1">-</button>
                                        <p>{{Produit.quantite}}</p>
                                        <button @click.stop="Produit.quantite++">+</button>
                                    </div>
                                </template>
                                </article>
                        </section>
                        <section class="total">
                            <hr>
                            <h4>Total de la commande</h4>
                            <p>{{total()}}€</p>
                            <button>Valider</button>
                        </section>
                    </section>
                </aside>
            </section>
        </div>
    </body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</html>